*{ margin:0px; padding:0px; border:0px none; outline:none;}
input{ outline:none;}
li{ list-style:none;}
img{ border:0 none; vertical-align:top;}
em,i,b{ font-style:normal;}
a{ text-decoration:none; cursor: pointer; color: #000;}
.clearf{margin:0px auto; *zoom:1;}
.clearf:after{ content:"."; clear:both; display:block; height:0; visibility:hidden;}
body{
	font-family: "微软雅黑";
}
html,body{
	height:100%;
}
.swiper-container{
	width: 100%;
	height: 100%;
}
.swiper-slide{
	width: 100%;
	height: 100%;
}
.slide_01,.slide_02,.slide_03{
	position: relative;
}
.slide_01_img_01{
	display: block;
	width: 3.83rem;
	height: 2.81rem;
	position: absolute;
	top: 0;
	left: 0;
}
.slide_01_img_02{
	display: block;
	width: 3.67rem;
	height: 3.93rem;
	position: absolute;
	top: 0;
	right: 0;
}
.slide_01_img_03{
	display: block;
	width: 1.43rem;
	height: 2.77rem;
	position: absolute;
	left: 0;
	bottom: 1.6rem;
}
.slide_01_img_04{
	display: block;
	width: 2.38rem;
	height: 3.8rem;
	position: absolute;
	bottom: 0;
	right: 0;
}
.slide_01_main_01{
	position: absolute;
	top: 3rem;
	left: 1rem;
	overflow: hidden;
}
.slide_01_main_01 p{
	font-size: 0.4rem;
	color: #e0b7ef;
}
.slide_01_main_02{
	position: absolute;
	top: 3.5rem;
	left: 2rem;
	overflow: hidden;
}
.slide_01_main_02 p{
	font-size: 0.4rem;
	color: #78d6ed;
}
.slide_01_main_03{
	position: absolute;
	top: 4.5rem;
	right: 2rem;
	overflow: hidden;
}
.slide_01_main_03 p{
	font-size: 0.4rem;
	color: #e0b7ef;
}
.slide_01_main_04{
	position: absolute;
	top: 5rem;
	left: 3rem;
	overflow: hidden;
}
.slide_01_main_04 p{
	font-size: 0.4rem;
	color: #78d6ed;
}
.slide_01_main_05{
	position: absolute;
	top: 6rem;
	right: 45%;
	overflow: hidden;
}
.slide_01_main_05 p{
	font-size: 0.45rem;
	color: #e0b7ef;
}
.slide_01_main_06{
	position: absolute;
	top: 7rem;
	left: 55%;
	overflow: hidden;
}
.slide_01_main_06 p{
	font-size: 0.45rem;
	color: #78d6ed;
}
.slide_01_main_07{
	position: absolute;
	top: 8rem;
	left: 1rem;
	overflow: hidden;
}
.slide_01_main_07 p{
	font-size: 0.60rem;
	color: #ef0229;
}
/*slide_02*/
.slide_02_top{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.slide_02_bottom{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.photo{
	width: 7rem;
	height: 5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -3.5rem;
	margin-top: -2.5rem;
	z-index: 1;
}
.photo02{
	width: 4rem;
	height: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -2rem;
	margin-top: -1.5rem;
	z-index: 0;
}
.photo img{
	width: 7rem;
	height: 5rem;
}
.photo02 img{
	display: block;
	width: 4rem;
	height: 3rem;
}
.slide_02_title{
	width: 100%;
	font-size: 0.5rem;
	color: #9bd0e0;
	position: absolute;
	top:3rem;
	left: 0;
	text-align: center;
}
/*slide_03*/
.slide_03{
	background: url(../img/slide03_bg.jpg) no-repeat;
	background-size: 100% 100%;
	padding-top: 1.5rem;
}
.slide_03 p{
	width: 7rem;
	font-size: 0.5rem;
	color: #c3b519;
	line-height: 0.75rem;
	text-align: center;
	margin:  0 auto;
}
.swiper-pagination-bullet{
	width: 0.1rem !important;
	height: 0.1rem !important;
}
/*load*/
.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -0.2em 0 0 -0.2em;
    text-indent: -9999em;
    border-top: 0.3em solid rgba(0, 0, 0, 0.1);
    border-right: 0.3em solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.3em solid rgba(0, 0, 0, 0.1);
    border-left: 0.3em solid #555;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-animation: loader 300ms infinite linear;
    -webkit-animation: loader 300ms infinite linear;
    animation: loader 300ms infinite linear;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.curtain {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    -moz-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    z-index: 0;
    overflow: hidden;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.is-loading {
    overflow: hidden;
}

.is-loading .curtain {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    z-index: 99;
}

.is-loading .loader {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}